body {
  font-family: sans-serif;
}

h1 {
  align: center;
  color: #FF0000;
}

p.intro {
  width: 50%;
  font-style: italic;
 }

p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}

.column {
  float: left;
  width: 400px;
}

.my-class {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}
